body, html{
	height: 100%;

}

.wrap{
	text-align: center;
	height: 100%;
	min-width: 320px;
	min-height: 500px;
}

.mainImg{
	background: url("http://127.0.0.1:8000/static/images/city.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
}

#map{
	width: 70%;
	border: 1px solid #c2c2c2;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	margin-top: -14em;
	margin-bottom: 3em;
	border: 1em solid white;

	-webkit-box-shadow: 0px -2px 42px 2px rgba(66,66,66,0.55);
	-moz-box-shadow: 0px -2px 42px 2px rgba(66,66,66,0.55);
	box-shadow: 0px -2px 42px 2px rgba(66,66,66,0.55);
}

.descriptionWrap{
	width: 60%;
	margin: 0 auto;
	margin-top: -12em; 
	margin-bottom: 11em;
}

.description{
	margin-bottom: 1.5em;
}

.description p{
	font-size: 1.8em;
	font-weight: 400;
	font-family: "Ubuntu";
	margin-top: 8em;
	color: #222;

}

.slogan{
	top: 0px;
	margin: 0 auto;
	width: 100%;
}

.slogan p{
	font-family: "Ubuntu";
	font-size: 2.5em;
	color: white;
	font-weight: 400;
	padding-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(0, 0, 0, 0.3)

}

.people{
	width: 28em;
	height: 10em;
	margin: 0 auto;
	margin-top: 12em;
}

.people p{
	font-family: "Ubuntu";
}



.person{
	width: 140px;
	padding: .5em;
}

.cir{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	line-height: 150px;
	vertical-align: middle;
	margin: 0 auto;
	border: 1px solid #222;
	background-color: #222;
	display: inline-block;
}

.cir span{
	font-family: "Ubuntu";
	color: white;
}

.content p{
	margin-top: 0;
}

.StoryForm{
	text-align: left;
	width: 60%;
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 1em;
}

hr{
	border-top: 1px solid #000;
	margin: 0 auto;
	width: 60%;
}