{% extends 'base.html' %}
{% load trans from i18n %}
{% load socialaccount %}

{% block title %}
<title>Login – Stories from Vilnius</title>
{% endblock %}
blah:

{% block page_title %}
{% if user.is_authenticated %}
<h2>{% trans 'Logout' %}</h2>
{% else %}
<h2>{% trans 'Login' %}</h2>
{% endif %}
{% endblock %}

{% block page_description %}
<p>Lorem ipsum</p>
{% endblock %}

{% block content %}
<div class="login">
<ul class="actions">
  <li>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="button special login-button">{% trans 'Logout' %}</a>
    {% else %}
    <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="button special">{% trans 'Login with Facebook' %}</a>
    {% endif %}
  </li>
</ul>
</div>
{% endblock %}
