{% extends 'login.html' %}


{% block slogan %}
Stories from Vilnius
{% endblock %}

{% block facebook_login %}
{% endblock %}

{% block content %}

<div class="mapEdit">
	<!-- div which allows map editing -->
</div>

<p>New Story</p>
Username: {{ user.username }}<br>
Vardas: {{ user.first_name }}<br>
Pavarde: {{ user.last_name }}<br>
Foto:
<img src="http://graph.facebook.com/{{ user.facebook_id }}/picture?type=small"></img><br><br>





<form enctype="multipart/form-data" method = 'POST' action = '/story/' class="StoryForm">
	{% csrf_token %}
	
	{% for field in form %}
	{{ field.label }}:<br>
	<span style = "color:red">{{ field.errors|striptags }}</span><br>
	<div>{{ field }}</div><br><br>
	{% endfor %}
	


	<input type="submit" value="Submit" class="submitStory">
	<div class="locationError"></div>
</form>


<br>

<hr>

<br>


<br><br>
<a href="/logout/">logout</a>

{% endblock %}


