{% extends 'login.html' %}


{% block slogan %}
Stories from Vilnius
{% endblock %}

{% block facebook_login %}
{% endblock %}

{% block content %}

<div class="mapAllStories">
	<!-- div which allows map with all stories -->
</div>

<p>Google Map (all stories)</p>
Vardas: {{ user.first_name }}<br>
Pavarde: {{ user.last_name }}<br>
Foto:
<img src="http://graph.facebook.com/{{ user.facebook_id }}/picture?type=small"></img><br><br>








<br>

<hr>

<!--
<form enctype="multipart/form-data" method = 'POST' action = '/story/' class="StoryForm">
	{% csrf_token %}

	{% for field in form %}
	{{ field.label }}:<br>
	<span style = "color:red">{{ field.errors|striptags }}</span><br>
	<div>{{ field }}</div><br><br>
	{% endfor %}




</form>

-->

<br>
{% if story %}
Title: {{ story.title }} <br>
Contents: {{ story.title }} <br>
Picture: <img src="{{MEDIA_URL}}{{ story.picture }}"></img> <br>
{% endif %}

<br><br>
<a href="{% url 'user_logout' %}">logout</a>

{% endblock %}


